# OS
.DS_Store

# IDE
.claude/
.cursor/
.dir-locals.el
.idea/
.vscode/
.vim
.zed
.cache/
.clangd
*.*~

# Rust
.cargo-home
target/
integration-tests/Cargo.lock

# Project
acceptance/tests/dat/
acceptance/workloads/
ffi/examples/read-table/build
ffi/examples/visit-expression/build
/build
/kernel/target
/target

# Benchmark data
kernel/benches/add_action_generator/datasets/
/benchmarks/data/workloads/
